const env={
    development:{
        privatekey:'',
        web3Url: 'http://127.0.0.1:8545'
    },
    testnet:{
        privatekey:'',
        web3Url: 'https://ropsten.infura.io/v3/api-key'
    }
   
}
module.exports=env;